{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block body %}    
    <div class="container"> 
        <h1>Willkommen</h1>

        <!-- Neuer Settings-Button -->
        <a href="{{ url_for('settings') }}" class="settings-button sound-button" aria-label="Einstellungen">
            <i class="fas fa-cog"></i>
        </a>
        
        <form id="auth-form" method="post"> 
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text" name="username" placeholder="Username" class="input-field" required id="username-field">
            <input type="password" name="password" placeholder="Password" class="input-field" required id="password-field">
            <input type="button" value="Login" class="btn btn-login sound-button" onclick="submitForm('login')" id="login-btn">
            <input type="button" value="Register" class="btn btn-register sound-button" onclick="submitForm('register')" id="register-btn">
        </form>
    </div>

    <script>
        function submitForm(action) {
            playSound('clickSound');
            setTimeout(() => {
                const form = document.getElementById('auth-form');
                form.action = action === 'login' 
                    ? "{{ url_for('login') }}" 
                    : "{{ url_for('register') }}";
                form.method = "post";
                form.submit();
            }, 150);
        }
    </script>
{% endblock %}